<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Bingo</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/bootstrap.js"></script>
    <style>
        .userspt{
            display: none;
        }
        .form-control{
          margin: 10px;
          width: 50%;
        }
        ul li {
          cursor: pointer;
        }
    </style>
</head>
<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bingo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item add active">
          <a class="nav-link">Add Game</a>
        </li>
        <li class="nav-item next">
          <a class="nav-link">Next Game</a>
        </li>
        <li class="nav-item past">
          <a class="nav-link">Past Games</a>
        </li>
        <li class="nav-item upcoming">
          <a class="nav-link">All Upcoming Games</a>
        </li>
      </ul>
    </div>
  </nav>

    <h2 style="text-align: center;margin-top: 30px;font-size: 42px;">Admin Panel</h2>

    <div class="container-fluid add-game">
      <h3>Add game</h3>
      <form action="/add-game/<%= user_id %>" method="post">
        <input class="form-control" type="text" name="time1" id="" value="06 14 2020 00:00:00 GMT+0530">
        <input class="form-control" type="text" name="time2" id="" value="06 14 2020 00:00:00 GMT+0530">
        
        <button class="btn btn-outline-secondary" style="margin: 10px;" type="submit">Submit</button>
        
      </form>
    </div>

    <div class="container-fluid next-game" style="margin-top: 20px;">
        <h3>Next Game</h3>
        <% if(nextGame){ %>
            <p>Game Id :  <%= nextGame._id %></p>
            <p>Game Time : 
              <form action="/update-game/<%= nextGame._id %>/<%= user_id %>" method="post">
                <input type="text" class="form-control" name="time" id="time" value="<%= nextGame.game_time %>" readonly>
                <button type="submit" class="btn btn-outline-secondary submit" style="float: left;margin-right: 20px;">Submit</button>
              </form>
              <button class="btn btn-outline-secondary update">Update</button>
              <button class="btn btn-outline-secondary cancel" onclick="cancel()">Cancel</button>
            </p>
            <h5>Game Players List :</h5>
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th><!-- 
                    <th scope="col">UID</th> -->
                    <th scope="col">Username</th>
                    <th scope="col">Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                    <% gameusers.forEach((x, i) => { %>
                        <tr>
                            <th scope="row"><%= i+1 %></th><!-- 
                            <td><%= x.uid %></td> -->
                            <td><%= x.name %></td>
                            <td><%= x.phone %></td>
                          </tr>
                    <% }) %>
                </tbody>
              </table>
            
        <% }else{ %>
            <p>No game schduled</p>
        <% } %>
    </div>

    <div class="container-fluid past-game">
        <h3>Past Games(Last 15) :</h3>
    

    <table class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">#</th><!-- 
            <th scope="col">Game ID</th> -->
            <th scope="col">Game Time</th>
            <th scope="col">Open</th>
            </tr>
        </thead>
        <tbody>
            <% pastGames.forEach((x, i) => { %>
                <tr>
                    <th scope="row"><%= i+1 %></th><!-- 
                    <td><%= x._id %></td> -->
                    <td><%= x.game_time %></td>
                    <td>
                      <button class="btn btn-outline-info" onclick="fetchUsers('<%= x._id %>')">Users</button>
                      <button class="btn btn-outline-info" onclick="fetchWinners('<%= x._id %>')">Winners</button>
                    </td>
                </tr>
                
            <% }) %>
        </tbody>
    </table>
    </div>

    <div class="container-fluid upcoming-game">
      <h3>All Upcoming Games :</h3>
      <table class="table table-striped table-dark">
          <thead>
              <tr>
              <th scope="col">#</th><!-- 
              <th scope="col">Game ID</th> -->
              <th scope="col">Game Time</th>
              <th scope="col">Open</th>
              </tr>
          </thead>
          <tbody>
              <% nextGames.forEach((x, i) => { %>
                  <tr>
                      <th scope="row"><%= i+1 %></th><!-- 
                      <td><%= x._id %></td> -->
                      <td><%= x.game_time %></td>
                      <td>
                        <form action="/delete-game/<%= x._id %>/<%= user_id %>" method="post">
                          <button class="btn btn-outline-info">Delete</button>
                        </form>
                      </td>
                  </tr>
                  
              <% }) %>
          </tbody>
      </table>
    </div>
    
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Game User participation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th><!-- 
                        <th scope="col">UID</th> -->
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


</body>
<script src="/js/firebase-app.js"></script>
<script src="/js/firebase-auth.js"></script>
<script>
  var user = null;
  $('.container-fluid, .cancel, .submit').hide();
  var firebaseConfig = {
        // ...
        apiKey: "AIzaSyBMtJWyBxZ4kVlqbAAHCFuBspdxbRW0dOM",
        authDomain: "bingo-35ce9.firebaseapp.com",
        databaseURL: "https://bingo-35ce9.firebaseio.com",
        projectId: "bingo-35ce9",
        storageBucket: "bingo-35ce9.appspot.com",
        messagingSenderId: "564607526074",
        appId: "1:564607526074:web:8753262a2aac9036ad8e83",
        measurementId: "G-YDYDGBBZ9L"
    
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
      firebase.auth().onAuthStateChanged(function(userDetail) {
      if (userDetail) {
          user = userDetail;
          initiateAdmin();
      }
      else{
          alert('Invalid Login')
          window.location.href = '/';
      }
    });

    function initiateAdmin() {
      let params = (new URL(document.location)).searchParams;
      let id = params.get("id");
      if(id == "next"){
        $('.navbar-nav li').removeClass('active');
        $('.next').addClass('active');
        $('.container-fluid').hide();
        $('.next-game').show();
      }
      else if(id == "upcoming"){
        $('.navbar-nav li').removeClass('active');
        $('.upcoming').addClass('active');
        $('.container-fluid').hide();
        $('.upcoming-game').show();
      }
      else{
        $('.add-game').show();
      }
    }

    

    function fetchUsers(id){
        $('.modal tbody').html('')
        var xhr = new XMLHttpRequest();
        var url = "/fetch-users-game/" + id +"/" + user.uid;
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                console.log(json)
                json = json.gameusers
                json.forEach((x,i) => {
                    $('.modal tbody').append("<tr> <td scope='row'>" + (i+1) + "</td> <td>" + x.name + "</td> <td>" + x.phone + "</td>  </tr>")
                });
                $('.modal').modal('show')
            }
        };
        //var data = JSON.stringify({"uid": user.uid});
        xhr.send();
    }


    function fetchWinners(id){
        $('.modal tbody').html('')
        var xhr = new XMLHttpRequest();
        var url = "/fetch-winners-game/" + id +"/" + user.uid;
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                json = json.winners
                json.forEach((x,i) => {
/*                   $('.modal tbody').append("<tr> <td scope='row'>" + x.game + "</td> <td>" + x.user.uid +"</td> <td>" + x.user.name + "</td> <td>" + x.user.phone + "</td>  </tr>")
 */                  $('.modal tbody').append("<tr> <td scope='row'>" + x.game + "</td>  <td>" + x.user.name + "</td> <td>" + x.user.phone + "</td>  </tr>")
                });
                $('.modal-title').text('Game Winners');
                $('.modal').modal('show')
            }
        };
        //var data = JSON.stringify({"uid": user.uid});
        xhr.send();
    }
    
    $('.navbar-nav li').click(function(){
      console.log("tt")
      $('.navbar-nav li').removeClass('active');
      $(this).addClass('active');
      $('.container-fluid').hide();
      if($(this).hasClass('add'))$('.add-game').show();
      if($(this).hasClass('next'))$('.next-game').show();
      if($(this).hasClass('past'))$('.past-game').show();
      if($(this).hasClass('upcoming'))$('.upcoming-game').show();
    });

    $('.update').click(function(){
      $('#time').removeAttr('readonly');
      $(this).hide();
      $('.submit, .cancel').show();
    });

    function cancel() {
      $('#time').attr('readonly', 'true');
      $('.submit, .cancel').hide();
      $('.update').show();
    }

/*     function deleteGame(id) {
      var xhr = new XMLHttpRequest();
        var url = "/delete-game/" + id +"/" + user.uid;
        xhr.open("DELETE", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                console.log(json);
                window.location.reload();
            }
        };
        xhr.send();
    }
    
 */
</script>
</html>